<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File details</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>File details</h1>
    <img width="400px" src="<%= file.url %>" />
    <div>Name: <%= file.name %></div>
    <div>Size: <%= file.size %></div>
    <div>Uploaded at: <%= file.uploadTime %></div>
    <a href="/file/<%= file.id %>/download">Download</a>
  </body>
</html>
