<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>File Uploader</h1>
    <% if(user) { %>
    <h2>Welcome, <%= user.name %></h2>

    <a href="/logout">Log out</a>

    <br>

    <a href="/folder/new">Create folder</a>

    <ul>
       <% folders.forEach(folder => { %>
      <li>
        <div><%= folder.name %></div>
        <% const folderBaseRoute = "folder/" + folder.id; %>
        <% const folderDeleteRoute = folderBaseRoute + "/delete"; %>
        <% const folderEditRoute = folderBaseRoute + "/edit"; %>
        <a href=<%= folderDeleteRoute %>>Delete</a>
        <a href=<%= folderEditRoute %>>Edit</a>
        <div>
          <% folder.files.forEach(file => { %>
            <a href="/file/<%= file.id %>"><%= file.name %></a>
          <% }); %>
        </div>
        <form action="/" method="post" enctype="multipart/form-data">
          <label for="image">Upload your image below:</label>
          <input type="file" id="image" name="image"/>
          <input type="hidden" id="folderId" name="folderId" value="<%= folder.id %>">
          <input type="submit" value="Upload">
        </form>
      </li>
      <% }); %>
    </ul>
    <% } else { %>
    <a href="/sign-up">Sign up</a>
    <a href="/login">Login</a>
    <% } %>
    
  </body>
</html>
